#FlashMessage { 
    margin: 0;
    background:#F90; 
    border-bottom:2px solid #F60; 
    color:#FFF; 
    display:none; 
    font-size:18px; 
    left:0; 
    padding:20px 0; 
    position:fixed; 
    text-align: center; 
    top:0; 
    width:100%;
}
.FlashMessage.ok { background:#9CDA9B; }
.FlashMessage.info { background:#FFF78D; }
.FlashMessage.error { background:#F90; }

.left_count{
    
    
    font-size: 11px;
    font-weight: bold;
    margin-top: -0.9em;
    padding: 0.2em 0.5em;
    position: absolute;
    right: 38px;
    top: 50%;
    
    -moz-background-clip: padding;
    
    
    
    color: #444444;
    font-weight: bold;
    text-shadow: 0 1px 1px #F6F6F6;
}