#FlashMessage { 
    margin: 0;
    background:#F90; 
    border-bottom:2px solid #F60; 
    color:#FFF; 
    display:none; 
    font-size:18px; 
    left:0; 
    padding:20px 0; 
    position:fixed; 
    text-align: center; 
    top:0; 
    width:100%; 
}
.FlashMessage.ok { background:#9CDA9B; }
.FlashMessage.info { background:#FFF78D; }
.FlashMessage.error { background:#F90; }