@charset "utf-8";
/* CSS Document */

body{
	background-color: #e9e7e0;
}

*{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

h1{
	color: #56958b;
	font-size: 14px;
	font-weight: bold;
}

a{
	color: #56958b;
}

a:hover{
	color: #ffffff;
	background-color: #56958b;
}