.flashmessage-dashboard-jobboard {
    padding-bottom: 10px;
}
.flashmessage-dashboard-jobboard .flashmessage-inline {
    margin: 10px 0;
    padding:10px;
    display: block;
    min-height: 22px;
    line-height: 22px;
    text-align: left;
    border-top:solid 1px #FBEED5;
}